<html lang="en">
    <body>
      <title>Learning JavaScript</title>
      <link rel='stylesheet' href='/style.css'>
      <link rel='stylesheet' href='/contact.css'>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/">Shop</a></li>
            <li class="main-header__item"><a class="active" href="/contact">Contact Us</a></li>
            <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
        </ul>
    </nav>
</header>
  <div class="container" >
   <div id="main" class="card card-body" style='margin-top: 30px'>
    <h2 class="form" style='text-align:center'>Book a Call</h2>
    <p style='text-align: center; margin-bottom: 30px'>Book a call slot and our representative will call within 1Hr of selected time</p>
    <form id="addForm" action='/success'>
      <div class = 'input-container'>
      <input type="text" class="input" id="item" placeholder='First Name'>
      <input type="text" class="input" id="description" placeholder='Last Name'><br>
      </div>
      <input type="email" class="input" id="email" placeholder="Email">
      <input type="submit" class="submit" value="Submit">
    </form>
    </div>
  </div>
</body>
</html>