.editbutton {
    background-color: #059862;
    border: none;
    color: white;
    padding: 3px 10px;
    text-align: center;
    float: right;
    margin-right: 5px;
    font-size: 16px;
    border-radius: 3px;
    }
  .form {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%; 
  }
  .input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .submit {
    background-color: black;
    color: white;
    padding-right: 324px;
    padding-left: 300px;
    text-align: center;
    font-size: 20px;
    margin-left: 200;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  .header{
    padding: 50px;
    color: white;
    
  }
  .input-container .input {
    flex: 1;
    margin-right: 10px;
  }